<app-title title="Leaderboard" />
<div class="container max-w-5xl mx-auto p-4 text-white font-sans w-full">
  <!-- Stats Section -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
    <div
      class="bg-gray-800 p-6 rounded-lg text-center"
      *ngFor="let stat of stats()"
    >
      <div class="text-3xl font-bold">{{ stat.value }}</div>
      <div class="text-gray-400">{{ stat.title }}</div>
    </div>
  </div>

  <!-- Filter Section -->
  <div class="flex flex-wrap items-center mb-6">
    <button
      *ngFor="let category of categories(); let i = index"
      class="bg-teal-500 text-white px-4 py-2 rounded-full mr-2 mb-2 cursor-pointer hover:bg-teal-800"
      [ngClass]="{ 'bg-teal-800': category.active }"
      (click)="toggleCategory(i)"
    >
      {{ category.name }}
    </button>
    <input
      type="text"
      placeholder="Filter Influencers"
      class="bg-gray-800 text-white px-4 py-2 rounded-full ml-auto"
    />
  </div>
  <!-- Table Section -->
  <div class="overflow-x-auto rounded-lg bg-gray-800">
    <table class="min-w-full">
      <thead>
        <tr class="text-center text-gray-400">
          <th class="py-3 px-4">RANK</th>
          <th class="py-3 px-4">INFLUENCER</th>
          <th class="py-3 px-4">CATEGORY</th>
          <th class="py-3 px-4">TRUST SCORE</th>
          <th class="py-3 px-4">TREND</th>
          <th class="py-3 px-4">FOLLOWERS</th>
          <th class="py-3 px-4">VERIFIED CLAIMS</th>
        </tr>
      </thead>
      <tbody class="max-h-[400px] overflow-y-auto">
        @if(!influencerService.influencers().length) {
        <tr class="border-t border-gray-700">
          <td colspan="7" class="text-center py-3">No influencers to show.</td>
        </tr>
        } @else { @for(influencer of influencerService.influencers(); track
        $index) {
        <tr
          class="border-t border-gray-700 text-center cursor-pointer hover:bg-teal-800 last:rounded-b-lg"
          [routerLink]="['/dashboard/influencer', influencer._id]"
        >
          <td class="py-3 px-4">#{{ $index + 1 }}</td>
          <td class="py-3 px-4 flex items-center">
            <img
              alt="Profile icon"
              class="rounded-full mr-2"
              height="30"
              src="https://placehold.co/30x30"
              width="30"
            />
            {{ influencer.name }}
          </td>
          <td class="py-3 px-4">{{ influencer.contentCategories[0] }}</td>
          <td class="py-3 px-4">
            {{ influencer.score / 2 | number : "1.1-1" }}%
          </td>
          <td class="py-3 px-4 text-green-500">
            <i class="fas fa-arrow-up"></i>
          </td>
          <td class="py-3 px-4">
            {{ influencer.quantityFollowers | quantityParse }}
          </td>
          <td class="py-3 px-4">{{ influencer.claims.length }}</td>
        </tr>
        } }
      </tbody>
    </table>
  </div>
</div>
