<div class="header">
    <div class="header-content">
        <div class="menu-wrapper">
            <div class="menu">
                <small style="padding: 0; margin: 0"><b>Menu</b></small>
                <ul class="menu-content">
                    <li class="menu-item"><a routerLinkActive="active" routerLink="/dashboard">Leaderboard</a></li>
                    <li class="menu-item"><a routerLinkActive="active" routerLink="/search">Research</a></li>
                </ul>
            </div>
        </div>
        <div class="title">
            <h1>
                Influencer Trust Leaderboard
            </h1>
            <p>
                Real-time rankings of health influencers based on scientific accuracy, credibility, and transparency.
                Updated daily using AI-powered analysis.
            </p>
        </div>
    </div>
</div>