<div class="container">
    <div class="profile-header">
        <i class="fas fa-user-circle user-icon"></i>
        <div>
            <h1>
                {{influencer.name}}
            </h1>
            <p>
                {{influencer.description}}
            </p>
        </div>
    </div>
    <div class="tags">
        <div class="tag" *ngFor="let category of influencer.contentCategories">
            {{category}}
        </div>
    </div>
    <div class="stats">
        <div class="stat">
            <h2>
                {{(influencer.score/2).toFixed(1)}}%
            </h2>
            <p>
                Trust Score
            </p>
            <p>
                Based on {{influencer.claims.length}} verified claims
            </p>
        </div>
        <div class="stat">
            <h2>
                {{influencer.quantityFollowers | quantityParse}}
            </h2>
            <p>
                Followers
            </p>
            <p>
                Total following
            </p>
        </div>
    </div>
    <div class="nav-tabs">
        <div class="nav-tab active">
            Claims Analysis
        </div>
    </div>
    <div class="search-bar">
        <i class="fas fa-search">
        </i>
        <input placeholder="Search claims..." type="text" />
    </div>
    <div class="filters">
        <div class="filter-group">
            <select [(ngModel)]="selectedCategory">
                <option value="All">All</option>
                <option *ngFor="let category of influencer.contentCategories" [value]="category">
                    {{category}}
                </option>
            </select>
            <select [(ngModel)]="selectedStatus">
                <option *ngFor="let status of verificationStatus" [value]="status">
                    {{status}}
                </option>
            </select>
        </div>
        <div class="filter-group">
            <a class="new-claims-btn" (click)="searchNewClaims()">
                Search for new claims
            </a>
        </div>
    </div>
    <div class="claims">
        <p>Showing {{filteredClaims.length}} claims</p>
        <div class="claim" *ngFor="let claim of filteredClaims">
            <div class="claim-header">
                <div class="left">
                    <div class="status">
                        <span [ngClass]="[claim.verificationStatus === 'Verified' ? 'verified' : 
                        claim.verificationStatus === 'Questionable' ? 'question' : 
                        claim.verificationStatus === 'Debunked' ? 'debunk' : '']">{{claim.verificationStatus}}</span>
                        <span class="date">{{claim.datePosted | date}}</span>
                    </div>
                </div>
                <div class="right"></div>
            </div>
            <div class="claim-body">
                <div class="title">{{claim.claimText}}</div>
                <a [href]="claim.postUrl" class="source">View Source<i class="fas fa-external-link-alt"></i></a>
                <div class="analysis">
                    <i class="fas fa-info-circle icon"></i>
                    <div class="text">AI Analysis</div>
                </div>
                <div class="text">Multiple studies confirm morning light exposure affects cortisol rhythms. Timing
                    window supported by research.</div>
                <a [href]="claim.sources[0].url" class="research">View Research <i
                        class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
        <app-modal/>
    </div>