  .modal {
    display: block; /* Show the modal */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(150 155 150 / 40%); /* Black w/ opacity */
  }
  
  
  .modal-content {
    background-color: #0d1b2a;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 12px;
    width: 44%;
  }

  .modal-content button {
    width: 17%;
    background-color: #00bfa5;
    border-radius: 6px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }