<div class="container">
    <div class="header">
        <a href="#">Back to Dashboard</a>
        <h1>Research Page</h1>
    </div>
    <div class="section">
        <div class="form-group">
            <label>Time Range</label>
            <div class="tabs">
                @for(range of dateFilters; track $index) {
                    <div class="tab" (click)="selectRange(range)" [class.active]="range.active">{{range.title}}</div>
                }
            </div>
        </div>
        <div class="form-group">
            <label>Influencer Name</label>
            <input type="text" placeholder="Enter influencer name" [(ngModel)]="data.name">
        </div>
        <div class="form-group">
            <label>Claims to Analyze Per Influencer</label>
            <input type="number" value="50" [(ngModel)]="data.claims">
        </div>
        <div class="form-group">
            <label>Perplexity Token</label>
            <input type="text" placeholder="token for perplexity API" [(ngModel)]="data.token">
        </div>
    </div>
    <div class="footer">
        <button (click)="search()">Start Research</button>
    </div>
</div>