/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0d1b2a;
    color: #ffffff;
    margin: 0;
    padding: 0;
}