<div class="container">
        <div *ngIf="loading()" class="loading-skeleton">
            <div class="stats">
                <div class="stat-skeleton skeleton" *ngFor="let stat of stats">
                </div> 
            </div>
            <div class="filters-container">
                <div class="filters">
                    @for (category of categories; track $index) {
                        <div class="filter-skeleton skeleton">
                        </div>
                    }
                </div>
                <div class="search-input-skeleton skeleton"></div>
            </div>
            <div class="leaderboard-skeleton">
                <div class="header">
                    <h1 class="skeleton skeleton-text" style="width: 100%; height: 24px;">
                    </h1>
                   </div>
                   <div class="skeleton-row">
                    <div class="skeleton skeleton-text skeleton-cell" style="width: 50px;">
                    </div>
                    <div class="skeleton-cell" style="display: flex; align-items: center;">
                     <div class="skeleton skeleton-circle">
                     </div>
                     <div class="skeleton skeleton-text" style="width: 100px; margin-left: 10px;">
                     </div>
                    </div>
                    <div class="skeleton skeleton-text skeleton-cell" style="width: 100px;">
                    </div>
                    <div class="skeleton skeleton-text skeleton-cell" style="width: 100px;">
                    </div>
                    <div class="skeleton skeleton-text skeleton-cell" style="width: 50px;">
                    </div>
                    <div class="skeleton skeleton-text skeleton-cell" style="width: 100px;">
                    </div>
                    <div class="skeleton skeleton-text skeleton-cell" style="width: 100px;">
                    </div>
                   </div>
            </div>

        </div>

        <ng-container *ngIf="!loading()">
            <div class="stats">
                <div class="stat" *ngFor="let stat of stats">
                    <h2>
                        {{stat.value}}
                    </h2>
                    <p>
                        {{stat.title}}
                    </p>
                </div>
            </div>
            <div class="filters-container">
                <div class="filters">
                    @for (category of categories; track $index) {
                        <div class="filter" [class.active] = "category.active" (click)="filterInfluencer(category.name)">
                            {{category.name}}
                        </div>
                    }
                </div>
                <input class="search-input" placeholder="Filter Influencers" [(ngModel)]="nameFilter" type="text" (keyup)="searchByName()"/>
            </div>
            <table class="leaderboard">
                <thead>
                    <tr>
                        <th>
                            RANK
                        </th>
                        <th>
                            INFLUENCER
                        </th>
                        <th>
                            CATEGORY
                        </th>
                        <th>
                            TRUST SCORE
                        </th>
                        <th>
                            TREND
                        </th>
                        <th>
                            FOLLOWERS
                        </th>
                        <th>
                            VERIFIED CLAIMS
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (influencer of filteredInfluencers; track $index) {
                        <tr (click)="goToInfluencer(influencer)">
                            <td>
                                #{{$index + 1}}
                            </td>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <i class="fas fa-user-circle user-icon"></i>
                                {{influencer.name}}
                                </div>
                            </td>
                            <td>
                                {{influencer.contentCategories[0] | capitalize}}
                            </td>
                            <td>
                                {{influencer.score/2 | number:'1.1-1'}}%
                            </td>
                            <td class="trend-up">
                                <i class="fas fa-arrow-up">
                                </i>
                            </td>
                            <td>
                                {{influencer.quantityFollowers | quantityParse}}
                            </td>
                            <td>
                                {{influencer.claims.length}}
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="no-records" *ngIf="filteredInfluencers.length === 0">
                No influencers found
            </div>
        </ng-container>
</div>