<div class="container">
    <div class="stats">
        @for(stat of stats; track $index) {
            <div class="stat">
                <h2>
                    {{stat.value}}
                </h2>
                <p>
                    {{stat.title}}
                </p>
            </div>
        } 
    </div>
    <div class="filters-container">
        <div class="filters">
            @for (category of categories; track $index) {
                <div class="filter" [class.active] = "category.active">
                    {{category.name}}
                </div>
            }
        </div>
        <input class="search-input" placeholder="Search Influencers" type="text" />
    </div>
    <table class="leaderboard">
        <thead>
            <tr>
                <th>
                    RANK
                </th>
                <th>
                    INFLUENCER
                </th>
                <th>
                    CATEGORY
                </th>
                <th>
                    TRUST SCORE
                </th>
                <th>
                    TREND
                </th>
                <th>
                    FOLLOWERS
                </th>
                <th>
                    VERIFIED CLAIMS
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    #1
                </td>
                <td>
                    <img alt="Dr. Peter Attia" src="https://placehold.co/40x40" />
                    Dr. Peter Attia
                </td>
                <td>
                    Medicine
                </td>
                <td>
                    94%
                </td>
                <td class="trend-up">
                    <i class="fas fa-arrow-up">
                    </i>
                </td>
                <td>
                    1.2M+
                </td>
                <td>
                    203
                </td>
            </tr>
            <tr>
                <td>
                    #2
                </td>
                <td>
                    <img alt="Dr. Rhonda Patrick" src="https://placehold.co/40x40" />
                    Dr. Rhonda Patrick
                </td>
                <td>
                    Nutrition
                </td>
                <td>
                    91%
                </td>
                <td class="trend-up">
                    <i class="fas fa-arrow-up">
                    </i>
                </td>
                <td>
                    900K+
                </td>
                <td>
                    156
                </td>
            </tr>
            <tr>
                <td>
                    #3
                </td>
                <td>
                    <img alt="Dr. Chris Palmer" src="https://placehold.co/40x40" />
                    Dr. Chris Palmer
                </td>
                <td>
                    Mental Health
                </td>
                <td>
                    90%
                </td>
                <td class="trend-up">
                    <i class="fas fa-arrow-up">
                    </i>
                </td>
                <td>
                    180K+
                </td>
                <td>
                    75
                </td>
            </tr>
            <tr>
                <td>
                    #4
                </td>
                <td>
                    <img alt="Andrew Huberman" src="https://placehold.co/40x40" />
                    Andrew Huberman
                </td>
                <td>
                    Neuroscience
                </td>
                <td>
                    89%
                </td>
                <td class="trend-neutral">
                    <i class="fas fa-arrow-right">
                    </i>
                </td>
                <td>
                    2.4M+
                </td>
                <td>
                    127
                </td>
            </tr>
            <tr>
                <td>
                    #5
                </td>
                <td>
                    <img alt="Dr. Dominic D'Agostino" src="https://placehold.co/40x40" />
                    Dr. Dominic D'Agostino
                </td>
                <td>
                    Nutrition
                </td>
                <td>
                    88%
                </td>
                <td class="trend-down">
                    <i class="fas fa-arrow-down">
                    </i>
                </td>
                <td>
                    200K+
                </td>
                <td>
                    112
                </td>
            </tr>
            <tr>
                <td>
                    #6
                </td>
                <td>
                    <img alt="Dr. Gabrielle Lyon" src="https://placehold.co/40x40" />
                    Dr. Gabrielle Lyon
                </td>
                <td>
                    Medicine
                </td>
                <td>
                    86%
                </td>
                <td class="trend-up">
                    <i class="fas fa-arrow-up">
                    </i>
                </td>
                <td>
                    350K+
                </td>
                <td>
                    84
                </td>
            </tr>
            <tr>
                <td>
                    #7
                </td>
                <td>
                    <img alt="Dr. David Sinclair" src="https://placehold.co/40x40" />
                    Dr. David Sinclair
                </td>
                <td>
                    Longevity
                </td>
                <td>
                    67%
                </td>
                <td class="trend-neutral">
                    <i class="fas fa-arrow-right">
                    </i>
                </td>
                <td>
                    1.1M+
                </td>
                <td>
                    145
                </td>
            </tr>
        </tbody>
    </table>
</div>
<a href="/search" class="search-button-fixed">
    Search Influencer
</a>